In [13]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [14]:
df=pd.read_csv('players_15.csv')

In [15]:
df.head()

,sofifa_id,player_url,short_name,long_name,age,dob,height_cm,weight_kg,nationality,club,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
0,158023,https://sofifa.com/player/158023/lionel-messi/...,L. Messi,Lionel Andrés Messi Cuccittini,27,1987-06-24,169,67,Argentina,FC Barcelona,...,62+3,62+3,62+3,62+3,62+3,54+3,45+3,45+3,45+3,54+3
1,20801,https://sofifa.com/player/20801/c-ronaldo-dos-...,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,29,1985-02-05,185,80,Portugal,Real Madrid,...,63+3,63+3,63+3,63+3,63+3,57+3,52+3,52+3,52+3,57+3
2,9014,https://sofifa.com/player/9014/arjen-robben/15...,A. Robben,Arjen Robben,30,1984-01-23,180,80,Netherlands,FC Bayern München,...,64+3,64+3,64+3,64+3,64+3,55+3,46+3,46+3,46+3,55+3
3,41236,https://sofifa.com/player/41236/zlatan-ibrahim...,Z. Ibrahimović,Zlatan Ibrahimović,32,1981-10-03,195,95,Sweden,Paris Saint-Germain,...,61+3,65+3,65+3,65+3,61+3,56+3,55+3,55+3,55+3,56+3
4,167495,https://sofifa.com/player/167495/manuel-neuer/...,M. Neuer,Manuel Neuer,28,1986-03-27,193,92,Germany,FC Bayern München,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
df.columns

Index(['sofifa_id', 'player_url', 'short_name', 'long_name', 'age', 'dob',
       'height_cm', 'weight_kg', 'nationality', 'club',
       ...
       'lwb', 'ldm', 'cdm', 'rdm', 'rwb', 'lb', 'lcb', 'cb', 'rcb', 'rb'],
      dtype='object', length=104)

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15465 entries, 0 to 15464
Columns: 104 entries, sofifa_id to rb
dtypes: float64(17), int64(11), object(76)
memory usage: 12.3+ MB

In [18]:
data= df[['height_cm','weight_kg','player_positions','preferred_foot','pace','shooting','dribbling','passing','defending','physic','work_rate']]

In [19]:
data.head()

,height_cm,weight_kg,player_positions,preferred_foot,pace,shooting,dribbling,passing,defending,physic,work_rate
0,169,67,CF,Left,93.0,89.0,96.0,86.0,27.0,63.0,Medium/Low
1,185,80,"LW, LM",Right,93.0,93.0,91.0,81.0,32.0,79.0,High/Low
2,180,80,"RM, LM, RW",Left,93.0,86.0,92.0,83.0,32.0,64.0,High/Low
3,195,95,ST,Right,76.0,91.0,86.0,81.0,34.0,86.0,Medium/Low
4,193,92,GK,Right,NaN,NaN,NaN,NaN,NaN,NaN,Medium/Medium

In [20]:
data.isnull().sum()

height_cm              0
weight_kg              0
player_positions       0
preferred_foot         0
pace                1703
shooting            1703
dribbling           1703
passing             1703
defending           1703
physic              1703
work_rate              0
dtype: int64

In [21]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15465 entries, 0 to 15464
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   height_cm         15465 non-null  int64
 1   weight_kg         15465 non-null  int64
 2   player_positions  15465 non-null  object
 3   preferred_foot    15465 non-null  object
 4   pace              13762 non-null  float64
 5   shooting          13762 non-null  float64
 6   dribbling         13762 non-null  float64
 7   passing           13762 non-null  float64
 8   defending         13762 non-null  float64
 9   physic            13762 non-null  float64
 10  work_rate         15465 non-null  object
dtypes: float64(6), int64(2), object(3)
memory usage: 1.3+ MB

In [22]:
data['pace']

0        93.0
1        93.0
2        93.0
3        76.0
4         NaN
         ...
15460    66.0
15461    64.0
15462    58.0
15463    72.0
15464    38.0
Name: pace, Length: 15465, dtype: float64

In [23]:
data

,height_cm,weight_kg,player_positions,preferred_foot,pace,shooting,dribbling,passing,defending,physic,work_rate
0,169,67,CF,Left,93.0,89.0,96.0,86.0,27.0,63.0,Medium/Low
1,185,80,"LW, LM",Right,93.0,93.0,91.0,81.0,32.0,79.0,High/Low
2,180,80,"RM, LM, RW",Left,93.0,86.0,92.0,83.0,32.0,64.0,High/Low
3,195,95,ST,Right,76.0,91.0,86.0,81.0,34.0,86.0,Medium/Low
4,193,92,GK,Right,NaN,NaN,NaN,NaN,NaN,NaN,Medium/Medium
...,...,...,...,...,...,...,...,...,...,...,...
15460,187,81,CB,Right,66.0,25.0,30.0,29.0,39.0,53.0,Medium/Medium
15461,178,57,ST,Right,64.0,41.0,35.0,27.0,27.0,41.0,Medium/Medium
15462,190,76,"LM, LB",Left,58.0,27.0,31.0,35.0,52.0,68.0,Medium/Medium
15463,180,70,CB,Right,72.0,27.0,30.0,27.0,35.0,61.0,Medium/Medium
15464,175,72,"CM, CAM",Right,38.0,36.0,45.0,42.0,31.0,33.0,Medium/Medium

In [24]:
features=['height_cm','weight_kg','player_positions','preferred_foot','pace','shooting','dribbling','passing','defending','physic','work_rate']